*{
    padding: 0;
    margin: 0;
}
html, body{
    width: 100vw;
    height: 100vh;
    overflow: hidden;
}
canvas {
    border: 4px solid black;
    display : block;
    margin: 0 auto;
    
}

body {
    background: url('/images/back.png');
    background-position-x: center;
    background-position-y: center;
    text-align: center;
}

button{
    width: 300.68px;
    height: 70.68px;
    position: relative;
    bottom: 40%;
    color: rgba(15, 29, 226, 0.87);
    font-size: 30px;
    background-color: gold;
    border: 1px solid black;
    font-family: Bungee Shade;
}

.game-over{
    width: 300.68px;
    height: 40.68px;
    position: absolute;
    top: 30%;
    left: calc(50% - (300.68px/2));
    color: rgba(15, 29, 226, 0.87);
    font-size: 30px;
    background-color: gold;
    border: 1px solid black;
    font-family: Bungee Shade;
    display: none;
}

#show{
    display: inline-block;
    text-align: center;
}